<div>
  <h1>shortcuts</h1>

  <script type="text/javascript" >
  </script>

  <div class="row-fluid">
    <div class="span6" >
      <table class="table table-condensed table-striped">
        <tr>
          <th class="span2">
            <select ng-model="apiFilter">
              <option ng-repeat="api in apis">{{api}}</option>
            </select>
          </th>
          <th class="span4">
            <input placeholder="command" style="width:80%" ng-model="filter" />
          </th>
        </tr>
        <tr ng-repeat="c in filtered" ng-click="select(c)" ng-class="{'info': isSelected(c)}">
          <td>{{c.api}}</td>
          <td>{{c.name}}</td>
        </tr>
        <tr >
          <td colspan="2"  ng-show="filterIsLimited" >
            <div class="text-center info">
              <input ng-click="unlimit()" class="btn btn-block info" value="Show All Results. Results Limited to {{filterLimit}}" ></input>
            </div>
          </td>
        </tr>
      </table>
    </div>


    <div class="span6" ng-show="selected" >
      <div>
        <label class="label pull-right">{{selected.api}}</label>
        <fieldset>
          <legend ng-hide="selected.href"> {{selected.name }} </legend>
          <legend ng-show="selected.href">
            <a href="{{ selected.href }}"> {{selected.name }} </a>
          </legend>
          <dl>
            <dt ng-show="selected.shortcut">shortcut</dt>
            <dd ng-show="selected.shortcut">{{ selected.shortcut }}</dd>
            <dt ng-show="selected.description">description</dt>
            <dd ng-show="selected.description">{{ selected.description }}</dd>
            <dt ng-show="selected.example">example</dt>
            <dd ng-show="selected.example">
              <pre>
                <code class="pull-left">{{ selected.example }}</code>
              </pre>
            </dd>
          </dl>
        </fieldset>
      </div>
    </div>


  </div>

  <div ng-hide="true">
    <div class="span1">api:</div>
    <div class="span1"><input name="api" ng-model="cmd.api" /> </div>
    <div class="span1">name:</div>
    <div class="span1"><input name="name" ng-model="cmd.name" /> </div>
    <div class="span1">description:</div>
    <div class="span1"><input ng-model="cmd.description" /> </div>
    <div class="span1">shortcut:</div>
    <div class="span1"><input ng-model="cmd.shortcut" /> </div>
    <div class="span1">example:</div>
    <div class="span1"><input ng-model="cmd.example" /> </div>
    <button class="btn" ng-click="add(cmd)"  >add</button>
  </div>


  <hr>
  <button class="btn" ng-click="debug=!debug;">debug</button>
  <div ng-show="debug">
    <div class="row-fluid">
      <div class="span6">
        <h4>all</h4>
        <div class="well"> {{all}}</div>
      </div>
      <div class="span6">
        <h4>filtered</h4>
        <div class="well">{{filtered}}</div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <h4>filter</h4>
        <div class="well">{{filter}}</div>
      </div>
      <div class="span6">
        <h4>cmd</h4>
        <div class="well">{{cmd}}</div>
      </div>
      <div class="span6">
        <h4>selected</h4>
        <div class="well">{{selected}}</div>
      </div>
    </div>
  </div>

</div>
